# Create account for API https://kayit.epias.com.tr/epias-transparency-platform-registration-form
# Enter your credentials
# Rename this file to .env and do not share .env

EPIAS_USERNAME="mail@mail.com"
EPIAS_PASSWORD="XXXXXXXXXX"